header{
	border:1px solid;
	display: flex;
	justify-content: space-between;
	align-items: flex-start; 
}

nav ul{
	border: ;
	display: flex;

	list-style-type: none;
	margin-right: 100px;

}

nav li{
	border: ;
	padding-right: 100px;
}

nav a{
	border: ;
	font-size: 1.1em;
	margin: 15px;
	text-decoration: none;
	color: #0065FC;
}

header a:hover{
	color: red;
	text-decoration: overline;

}

#titre{
	border: 1px solid;
	display: flex;
	flex-direction: column;
}

#recherche{
	display: flex;
	margin-left: 10px;
}

#recherche form {
	padding-left: 10px;
	 
}

#icone_i {
	background-color: ;
	border-radius: 15px 0 0 15px;
	
}

.reserve{
	font-weight: bold;
	color: blue;
}

/* FIN HEADER*/


/*SECTION*/



#section1{
	display: flex;



}

#photos_hébergements{
	background-color: gray;
	border-radius: 15px;
	margin: 25px;

}

#a {
	display: flex;
	justify-content: space-between;
	
}

#a figure{
	display: flex;
	flex-direction: column;
	background-color: white;
	border: 3px solid white;
	border-radius: 15px;
	margin-bottom: 15px;

}

#a img{
	border-radius: 15px 15px 0 0 ;
	width: auto;
	border: 3px solid white;
}

#a i{
	color: blue;
}

#b{
	display: flex;
	justify-content: space-between;
}

#b figure{
	display: flex;
	flex-direction: column;
	background-color: white;
	border: 3px solid white;
	border-radius: 15px;
	margin-bottom: 15px;
}

#b img{
	border-radius: 15px 15px 0 0 ;
	width: auto;
	border: 3px solid white;
}

#b i{
	color: blue;
}

/* ASIDE*/

aside{
	background-color: gray;
	border-radius: 25px;
	display: flex;
	flex-direction: column;
	margin: 20px;
	width: auto;
	height: auto;
}

aside figure{
	display: flex;
	background-color: white;
	border: 3px solid white;
	border-radius: 15px;
	width: auto;
	height: 20%;
	margin: 50px;

}

aside img{
	border: 3px solid white;
	border-radius: 15px 0 0 15px;
	width: auto;

}

aside i{
	color: blue;
}

/* FIN ASIDE*/




 
