body{
	font-family: 'Raleway', sans-serif;
}

strong{
	font-weight: bold;
}


/*header	*/

header{
	display: flex;
	/*justify-content: space-between;
	align-items: flex-start;*/ 
	justify-content: space-between;
	margin: 25px;
}

nav ul{
	display: flex;
	margin: auto;
	/*height: 0px;*/
}

nav li{
	display: flex;
	padding-left: 100px;
}

nav a{
	font-size: 1.1em;
	margin: 15px;
	height: auto;
	color: #0065FC;
}

#activités{
	color: black;
}

#inscription{
	font-weight: bold;
	
}


header a:hover{
	color: ;
	/*text-decoration: overline;*/
	border-top: ;

}

/* FIN DE HEADER*/

/* DEBUT DE TITRE*/

#titre{
	border: 1px solid;
	display: flex;
	flex-direction: column;
	margin: 25px;
}
form #recherche_w {
	display: flex;
}

#recherche_w #ville{
	height: 35px;
}

#recherche_w i {
	background-color: #F2F2F2;
	text-align: center;
	padding-top: 10px;
	border-radius: 10px 0 0 10px;
	width: 40px;
	height: 33px;

}

#ville {
	width: 210px;
	padding-left: 10px;
}

.reserve{
	font-weight: bold;
	color: blue;
}

#clic{
	background-color: blue;
	color: white;
	text-align: center;
	border-radius: 0 10px 10px 0;
	width: 100px;
	height: 40px;
}

#test1 {
	display: flex;
}

#test1 i{
	color:  #0065FC;
	border: 1px solid;
	background-color: #DEEBFF ;
	border-radius: 35px;
	width: 40px;
	height: 30px;
	text-align: center;
	padding-top: 10px;
	margin-left: auto;

}

.border{
	border: 1px solid;
	width: 40px;
	height: 30px;
	text-align: center;
	padding: 10px;
	margin-left: 10px;
	border-radius: 35px;
}

.border i{
	width: 40px;
	height: 30px;
	text-align: center;
	padding-right: 0px;
	margin-right: 10px;

}

.gras{
	font-weight: bold;
}

#info {
	border: 1px solid gray;
	text-align: center;
	width: 20px;
	height: 20px;
	padding: 5px;
	border-radius: 25px;
	color: #0065FC;
}

#espace{
	margin-left: 15px;
}

/* FIN DE TITRE*/





/*DEBUT 
DE 
SECTION
1*/



#section1{
	display: flex;
	border: 1px solid;

}

#photos_hébergements{
	background-color: #F2F2F2;
	border-radius: 15px;
	margin: 25px;
	margin-bottom: auto;
}

#a {
	display: flex;
	justify-content: space-between;
}

#a figure{
	display: flex;
	flex-direction: column;
	background-color: white;
	border: 3px solid white;
	border-radius: 15px;
	margin-bottom: 15px;

}

#a img{
	border-radius: 15px 15px 0 0 ;
	width: auto;
	border: 3px solid white;
}

.étoile_bleu{
	color: blue;
}

.étoile_gris{
	color: gray;
}

#b{
	display: flex;
	justify-content: space-between;
}

#b figure{
	display: flex;
	flex-direction: column;
	background-color: white;
	border: 3px solid white;
	border-radius: 15px;
	margin-bottom: 15px;
}

#b img{
	border-radius: 15px 15px 0 0 ;
	width: auto;
	border: 3px solid white;
}


/* ASIDE*/

aside{
	background-color: #F2F2F2;
	border-radius: 25px;
	display: flex;
	flex-direction: column;
	margin: 20px;
	width: auto;
	height: auto;
}

aside figure{
	display: flex;
	background-color: white;
	border: 3px solid white;
	border-radius: 15px;
	width: auto;
	height: 20%;
	margin: 50px;

}

aside img{
	border: 3px solid white;
	border-radius: 15px 0 0 15px;
	width: auto;

}


#photos_populaires{
	margin-bottom: auto;
}

/* FIN ASIDE*/

/* ACTIVITE A MARSEILLE*/

#section2{
	background-color: #DEEBFF;
	display: flex;
	justify-content: space-between;
	border-radius: 15px;
	width: auto;
	height: auto;
	margin: 15px;

	
}

#section2 figure{
	background-color: white;
	border-radius: 15px;
	text-shadow:;
}




#section2 img{
	border-radius: 15px 15px 0 0;
}

#vp{
	margin: 15px;
}

.figcaption{
	padding-left: 15px; 
	line-height: 45px;
	font-weight: bold;
	height: auto;
}

.figure{
	display: flex;
	flex-direction: column;
	margin-bottom: auto;
	margin: 15px;
	padding: auto; 
}

#az{
	margin-bottom: 20%;
}

#aq{
	margin-bottom: 4%;
}




/* FIN ACTIVITE A MARSEILLE*/


/* FOOTER*/

#blocs{
	display: flex;
	background-color: #F2F2F2;
}

#blocs p{
	margin-left: 7%;
	font-weight: bold;
	font-size: 1.1em;
}


#propos{
	background-color: yellow;
	font-size: 1.1em;
	width: 33%;
	margin: 25px;
}

#propos li{
	margin-bottom: 10px;
}

#hébergements{
	background-color: red;
	font-size: 1.1em;
	width: 33%;
	margin: 25px;
}

#hébergements li{
	margin-bottom: 10px;

}

#assistance{
	background-color: blue;
	font-size: 1.1em;
	width: 33%;
	margin: 25px;
}

#assistance li{
	margin-bottom: 10px;
}

ul, a{
	list-style-type: none;
	font-size: 1em;
	text-decoration: none;
}


/* FIN FOOTER*/


 
