body{
	font-family: 'Raleway', sans-serif;	
}
#conteneur {
	border-right: 1px solid #F2F2F2;
	width: 60%;
	margin: auto;
}
#conteneur a{
	text-decoration: none;
}
a:visited{
	color: black;
}
/*header	*/
.header{
	display: flex;
	justify-content: space-between;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 2%;
}

#logo_reservia{
	padding-top: 2%;
}
#menu .ul, .li{
	display: flex;	
	width: auto;
}
#menu a{
	font-size: 1.1em;
	color: #0065FC;
	display: inline-block;
	/*margin: auto;*/
}
#menu a:hover {
	border-top: 1px solid #0065FC;
	padding-left: 15%;
	padding-right: 15%;
}
#hébergements a{
	margin-right: 125px ;
	border-top: 1px solid #0065FC;
	padding-top: 25px;
	color: blue;
	padding-left: 15%;
	padding-right: 15%;
	
}
#activités a{
	margin-right: 125px;
	color: black;
	padding-top: 27px;
}
#inscription a {
	font-weight: bold;
	padding-top: 27px;
	color: #0065FC;

}
/* FIN DE HEADER*/


/* SECTION AVEC HEADER*/

/* HEADER*/
#section_one{
	display: flex;
	flex-direction: column;
	margin-left: 2%;
}
#section_one header{
	display: flex;
	flex-direction: column;
	margin: 0%; 
}
#section_one h1, p{
	margin: 0px;
	margin-bottom: 10px;
}
#section_one i{
	background-color: #DEEBFF;
	text-align: center;
	border-radius: 45%;
	width: 30px;
	padding: 1.5%;
}

/* RECHERCHE*/
#rechercher{	
	display: flex;
	width: 35%;
	height: 50px;
	font-size: 1.1em;
	margin-bottom: 1.5%;
}
#rechercher i{
	background-color: #F2F2F2;
	color: black;
	text-align: center;
	padding-top: 15px;
	border-radius: 12px 0 0 12px;
}
#input_ville{
	border: 1px solid #F2F2F2;
	font-size: 1.1em;
	font-weight: bolder;
	width: 225px;
	padding-left: 2%;
}
#bouton{
	background-color: #0065FC;
	color: white;
	text-align: center;
	font-size: 1.1em;
	border-radius: 0 15px 15px 0;
	width: 150px;
}
.btnMobile{
	display: none;
}

/* FILTRES*/
.filtres{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 1.5%;
	font-size: 1.1em;
}
.filtres strong{
	padding-top: 1%;
	font-size: 1.1em;

}
.filtres i{
	color:  #0065FC;
	background-color: #DEEBFF;
}
.filtres i:hover{
	color: green;
}
.filtres span{
	padding-left: 5%;
	font-weight: 600 ;
}
.filtres_duo{
	display: flex;
}
#form_economie{
	border: 1px solid #F2F2F2;
	margin-left: 4%;
	border-radius: 25px;
	width: 230px;
	font-size: 1.1em;
}
#form_economie i{
	padding: 16px;
	width: auto;
	font-size: 0.9em;
}
#form_family{
	border: 1px solid #F2F2F2;
	margin-left: 5%;
	border-radius: 25px;
	width: 170px;
	font-size: 1.1em;
}
#form_family i{
	padding: 16px;
	width: 14.5%;

}
#form_romantic{
	border: 1px solid #F2F2F2;
	margin-left: 2%;
	border-radius: 25px;
	width: 190px;
	font-size: 1.1em;
}
#form_romantic i{
	padding: 16px;
	width: auto;
}
#form_romantic i:hover{
	color: red;
}
#form_animals{
	border: 1px solid #F2F2F2;
	margin-left: 2%;
	border-radius: 25px;
	width: 255px;
	font-size: 1.1em;
}
#form_animals i{
	padding: 16px;
	width: auto;	
}
/* FIN DU FILTRE*/


/*ICONE INFO*/
#icon_info{
	margin-bottom: 2%;
}
#icon_info i{
	color: #0065FC;
	border: 1px solid #F2F2F2;
	background-color: white;
	width: 1%;
	padding: 0.2%;  
	text-align: center;
	font-size: 12px;
	margin-right: 0.5%;
}

/* FIN SECTION HEADER*/




/*DEBUT DE SECTION 1 HEBERGEMENTS A MARSEILLE*/
#section_hébergements{	
	display: flex;
	justify-content: space-between;
	margin-bottom:5%;
	margin-left: 2%;
	width: auto;
}
#section_hébergements h1{
	font-size: 1.5em;
	margin-left: 3%;
	margin-top: 5%;
}
#font_hébergements{
	background-color: #F2F2F2;
	border-radius: 25px;
	width: 65%;
}
#font_hébergements figure{
	width: 85%;
	margin: auto;
}
#afficher_plus{
	font-size: 1.2em;
	padding-top: 3%;
	padding-left: 3%;
	list-style-type: none;
}
#afficher_plus a:hover{
	font-size: 1.7em;
}
#bloc figure{
	background-color: white;
	border-radius: 25px;
	border: 3px solid white;
	margin:  2%;
}
#bloc img{
	border-radius: 25px 25px 0 0;
	border: 3px solid white;
	width: 97.5%;
}
#bloc p{
	padding-left: 5%;
}
#bloc strong{
	margin: auto;
	font-size: 1.2em;
	font-weight: bold;
}
.étoile_bleu{
	color: #0065FC;
}
.étoile_gris{
	color: rgb(225 225 225);
}
/*BLOC FIGURE 1 ET 2*/

.bloc_figure1{
	display: flex;

}

.bloc_figure2{
	display: flex;
}
/*FIN SECTION 1 HEBERGEMENTS A MARSEILLE*/





/* ASIDE*/

aside{
	background-color: #F2F2F2;
	border-radius: 25px;
	display: flex;
	flex-direction: column;
	width: 35%;
	margin-left: 2%;
	margin-right: 2% 
}
aside h2{
	display: flex;
	justify-content: space-between;
	width: 83%;
	padding-top: 5%;
	padding-left: 6%;
	font-size: 1.5em;
	margin-left: 3%;
}
aside figure{
	display: flex;
	background-color: white;
	border: 3px solid white;
	border-radius: 15px;
	width: auto;
}
#figure_dubas{
	margin-bottom: 10%;
}
aside img{
	width: 40%;
	border: 3px solid white;
	border-radius: 15px 0 0 15px;
}
aside figcaption{
	width: 100%;
}
aside strong{
	font-size: 1.2em;
}
aside p{
	padding-left: 15px;
	margin: 2.5%;
} 
.étoiles{
	margin-top: 20%;
}
/* FIN ASIDE*/





/* ACTIVITE A MARSEILLE*/

#section_activité{
	margin-top: 15px;
	border-radius: 15px;
	width: auto;
}
#section_activité h1{
	margin-left: 2%;
	width: auto;
}
#thèmes_marseille{
	display: flex;
	justify-content: space-between;
	width: auto;
	margin-left:1%;
	margin-right:1%; 
}
#thèmes_marseille div{
	margin: 1%;
	border-radius: 15px;
}
#thèmes_marseille figure{
	margin: auto;
	box-shadow: 0 3px  #F2F2F2;
	border-radius: 0 0 25px 25px;
}
#thèmes_marseille figcaption{
	padding: 5%;
	font-size: 1.2em;
}
#thèmes_marseille img{
	border-radius: 25px 25px 0 0;
}
.img_mobile{
	display: none;
}
#vieux_port {
	width: 100%;
	height: auto;
}
#vieux_port img{
	width: 100%;
	height: 430px;
}
.figure_paire{
	width: auto;
	height: auto;
}
#figure_fort img{
	width: 100%; 
}
#figure_île{
	padding-top: 22%;
}
#figure_île img{
	width: 100%;
	height: 127px;
}
#figure_parc{
	width: 22%;
	height: auto;
}
#figure_parc img{
	width: 100%;
	height: 430px;
}
#notre_dame{
	width: auto;
	height: 45%;
}
#notre_dame img{
	width: 100%;
}
#longchamp{
	width: auto;
	padding-top: 50px ;	
}
#longchamp img{
	width: 100%;
	height: 155px;
}
/* FIN ACTIVITE A MARSEILLE*/




/* FOOTER*/
#blocs{
	display: flex;
	background-color: #F2F2F2;
	width: auto;
	margin-top: 50px;
	height: 200px;
}
#blocs div{
	font-size: 1.1em;
	width: 45%;
	
	margin-top: 2.2%;
}
#blocs p{
	padding-left: 5%;
	font-size: 1.2em;
}
#blocs li{
	padding-bottom: 5px;
}
#propos{
	padding-left: 4%;
	width: 270px;
	list-style-type: none;
}
#nos_hébergements{
	list-style-type: none;
	width: 200px;
	padding-left: 4%;
}
#assistance{	
	padding-left: 4%;
	width: 155px;
	list-style-type: none;
}
#blocs li{
	margin: 2%;
}
/* FIN FOOTER*/



/* DEBUT DU RESPONSIVE*/

@media (min-width: 769px) and (max-width: 1440px){
	#conteneur{
		width: 90%;
	}
	#hébergements a{
		margin-right: 150px;
	}
	#rechercher{
		height: auto;
		width: 50%;
	}
	#rechercher i{
		padding: 2%;
	}
	.filtres{
		flex-wrap: wrap;
		height: auto;
		font-size: 1.2em;
	}
	.filtres strong{
		padding-top: 15px;
	}
	#form_economie i{
		padding: 11px;
	}
	#form_family i{
		padding: 11px;
	}
	#form_romantic i{
		padding: 11px;
	}
	#form_animals i{
		padding: 11px;
	}
	#font_hébergements{
		width: 80%;
	}
	#section_hébergements{
		font-size: 0.79em;
	}
	aside{
		width: 35%;
	}
	aside figure{
		margin: 5%;
	}
	.filtres span{
		font-size: 0.8em;
	}
}



@media  (min-width: 425px) and (max-width: 768px){
	#conteneur{
		display: block;
		background-color: rgb(160 245 250);
		width: 90%;	
	}
	h1{
    	color: blue;
    }
	.header{
		display: flex;
		height: 170px;
		margin-bottom: 3%;
		border-bottom: 1px solid blue ;
	}
	#logo_reservia img{
		width: 120px;
	}
	#menu .ul, .li{
		display: flex;
		flex-direction: column-reverse;
	}
	#activités a{
		color: white;
		padding-left: 30%;
	}
	#hébergements a{
		border-top: none;
		padding-left: 30%;
	}
	#inscription a{
		padding-left: 30%;
	}
	#rechercher{
		justify-content: center;
		width: auto;
		margin-top: 2%;
		height: auto; 
	}
	#rechercher i{
		width: 5%;
	}
	#input_ville{
		width: 160px;
	}
	#bouton{
		height: auto;
		color: white;
		width: 130px;
	}
	.filtres{
		width: 90%;
		height: auto;
		flex-direction: column;
		margin-top: 2%;
    }
    .filtres_duo{
    	display: block;
    	margin-bottom: 3%;
    }
    #form_economie{
    	margin-left: 15%;
    	width: 260px;
    	border: 1px solid white;
    	border-radius: 45px; 
    	margin-bottom: 2%;
    }
    #form_family{
    	margin-left: 15%;
    	width: 260px;
    	border: 1px solid white;
    	border-radius: 45px; 
    	margin-bottom: 2%;
    }
    #form_family i{
    	width: 18px;
    }
    #form_romantic{
    	margin-left: 15%;
    	width: 260px;
    	border: 1px solid white;
    	border-radius: 45px; 
    	margin-bottom: 2%;
    }
    #form_animals{
    	margin-left: 15%;
    	width: 260px;
    	border: 1px solid white;
    	border-radius: 45px; 
    	margin-bottom: 2%;
    }
    #icon_info i{
    	width: 2%;
    	margin-right: 2%;
    }
    #section_hébergements{
		flex-direction: column-reverse;
	}
	#font_hébergements{
		width: auto;
		background-color: white;
	}
	#section_hébergements h1{
		margin: 5%;
	}
	.étoile_bleu{
		color: rgb(254 192 29);
	}
	aside{
		width: auto;
		border-radius: 0;
		margin-top: 5%;
		margin-bottom: 5%;
		border: 5px solid white;
		background-color: rgb(160 245 250);
	}
	aside h2{
		padding-left: 2%;
		padding-bottom: 2%;
		color: blue;
	}
	aside figure{
		margin: 2.5%;
		height: auto;
	}
	aside p{
		font-size: 1.1em;
	}
	.étoiles{
		margin-top: 20%;
	}
	#section_hébergements{
		margin: 0;
	}
	#thèmes_marseille{
		display: block;
		width: auto;
		height: auto;
		text-align: center;
   }
    #font_hébergements{
   		border-radius: 0;
   		text-align: center;
   }
   #font_hébergements figure{
   	margin: 2%;
   }
    #bloc{
   		display: block;
   }
    #bloc figure{
   		border: 5px solid rgb(160 245 250);
   }
   #colone_1{
   	flex-direction: row;
   }
   #colone_2{
   	flex-direction: row;
   }
   #colone_3{
   	flex-direction: row;
   }
   #thèmes_marseille{
   	margin-bottom: 20%;
   }
	#thèmes_marseille figure{
		box-shadow: 0 14px #f2f2f2;
		height: auto;
		width: 70%;
		margin-bottom: 5%;
		margin-top: 10%;
		border: 1px solid white;

	}
	#thèmes_marseille img{
		border: 2px solid white;
		border-radius: 0 0 14px 14px;
		width: 80%;
	}
	#vieux_port{
		width: auto;
	}
	#vieux_port img{
		height: auto;
	}	
	.figure_paire{
		height: auto;
	}
	#figure_île{
		padding-top: 0%;
	}
	#figure_parc{				
		height: auto;
		width: auto;
	}
	#longchamp{
		padding-top: 0%;
	}
	#longchamp img{
		height: auto;		 
	}
	#blocs{
		display: block;
		margin: 0;
		height: auto;
	}
	#blocs ul{
		padding-left: 85px;
	}
	#blocs p{
		font-size: 1em;
		padding-left: 40px;
	}
	#blocs div{
		width: auto;
	}
	#blocs a{
		color: blue;
	}  
}



@media (max-width: 424px){
	#conteneur{
		width: auto;
	}
	.header{
		display: inline-block;
	}
	#logo_reservia{
		width: 0%;
		height: 0px;
		padding-left: 2% ;
	}
	.ul{
		flex-direction: column-reverse;	
	}
	#inscription{
		padding-left: 75%;
		margin-bottom: 10%;
	}
	#inscription a{
		padding-top: 17%;
	}
	#hébergements a{
		border-top: none;
		padding-top: 0;	
		padding-left: 1%;
		margin-right: 0px;
	}
	#hébergements span{
		padding-bottom: 10px;
		border-bottom: 1px solid blue;
		margin-right: 0px;
		padding-right: 25px;
		padding-left: 20px;
	}
	#activités a{
		padding-top: 0;
		margin-right: 0px;
	}
	#activités span{
		padding-bottom: 10px;
		border-bottom: 1px solid gray;
		padding-right: 60px;
		padding-left: 70px;
		margin-left: 25px;
		margin-right: 0px ;
	}
	#section_one header{
		display: inline-block;
		font-size: 1.1em;
		margin-left: 2%;
		margin-top: 10%;
	}
	#rechercher{
		margin-left: 3%;
		width: 100%;
		margin-top: 5%;
		margin-bottom: 5%;
	}
	#rechercher i{
		width: 35px;
	}
	#input_ville{
		width: 63%;
		padding-left: 4%;
	}
	#rechercher .btnMobile i{
		color: white;
		background-color: #0065FC;
		border-radius: 15px;
	}
	.btnMobile{
		display: inline-block;
		background-color: #0065FC;
		text-align: center;
		font-size: 1.1em;
		border-radius: 15px;
		width: 13%;
	}
	#bouton{
	display: none;
	}	
	.filtres{
		display: inline-block;
		margin-bottom: 5%;
    }
    .filtres strong{
    	margin: 2%;
    }
    #form_economie{
    	border: 1px solid gray;
    	margin-left: 1%;
    	width: 190px;
    	border-radius: 45px; 
    	margin-bottom: 3%;
    	margin-top: 3%;
    }
    #form_economie i{
    	padding: 13px;
    }
    #form_family{
    	border: 1px solid gray;
    	margin-left: 5%;
    	width: 150px;
    	border-radius: 45px; 
    	margin-bottom: 3%;
    	margin-right: 2%;
    	margin-top: 3%;
    }
    #form_family i{
    	padding: 12px;
    }
    #form_romantic{
    	margin-left: 1%;
    	width: 180px;
    	border: 1px solid gray;
    	border-radius: 45px; 
    	margin-bottom: 3%;
    }
    #form_romantic i{
    	padding: 12px;
    }
    #form_animals{
    	margin-left: 1%;
    	width: 250px;
    	border: 1px solid gray;
    	border-radius: 45px; 
    	margin-bottom: 2%;
    }
    #form_animals i{
    	padding: 12px;
    }
    #icon_info i{
    	width: 11px;
    	padding: 6px;
    	margin-right: 3%;
    	margin-left: 2%;
    	border: 1px solid gray;
    	float: left;
    }
    #icon_info {
    	font-size: 1.1em;
    }
    #section_hébergements{
		flex-direction: column-reverse;
		margin: 0;
	}
	#font_hébergements{
		width: auto;
		background-color: white;
	}
	aside{
		display: block;
		width: auto;
		border-radius: 0;
		margin: auto;		
	}
	aside h2{
		padding-left: 2%;
		width: 90%;
		font-weight: 900;
		font-size: 1.6em;
	}
	aside figure{
		margin-left: 4%;
		height: auto;
		margin-bottom: 3%;
		margin-right: 5%;
	}
	.étoiles{
		margin-top: 20%;
	}
	#section_hébergements h1{
		font-weight: 900;
		margin-left: 7%;
	}
	#bloc figure{
		box-shadow: 1px 3px 1px #F2F2F2;
		margin: auto;
		margin-bottom: 5%;
	}
	.bloc_figure1{
		display: block;
	}
	.bloc_figure2{
		display: block;	
	}
   #thèmes_marseille{
		display: block;
		width: auto;
		height: auto;
   }
    #bloc{
   		flex-direction: column; 		
   }
   #bloc img{
   		height: 125px;
   }
	#thèmes_marseille figure{
		box-shadow: 0 4px 8px #f2f2f2;
		height: 210px;
		width: auto;
		margin-bottom: 5%;
		margin-top: 10%;
	}
	#thèmes_marseille img{
		border-radius:  14px 14px 0 0;
		height: 150px;
	}
	.img_vieuxport{
		display: none;
	}
	.img_mobile{
		display: inline-block;
	}
	.img_descalanques{
		display: none;
	}
	#figure_île{
		padding-top: 0%;
	}
	#figure_parc{				
		height: auto;
		width: auto;
	}
	#longchamp{
		padding-top: 0;
	}
	#blocs{
		flex-direction: column;
		height: auto;
	}
	#blocs div{
		width: auto;
		margin-top: 0;
	}
	#blocs p{
		margin-top: 10%;
	}
	#propos{
		width: auto;
	}
	#nos_hébergements{
		width: 50%;
	}
	#assistance{
		width: 45%;
	}
}