body{
	font-family: 'Raleway', sans-serif;	
}
#conteneur {
	border-right: 1px solid #F2F2F2;
	width: 60%;
	margin: auto;
}
#conteneur a{
	text-decoration: none;
}
a:visited{
	color: black;
}
/*header	*/
.header{
	display: flex;
	justify-content: space-between;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 2%;
}

#logo_reservia{
	padding-top: 2%;
}
#menu .ul, .li{
	display: flex;	
	width: auto;
}
#menu a{
	font-size: 1.1em;
	color: #0065FC;
	display: inline-block;
	/*margin: auto;*/
}
#menu a:hover {
	border-top: 1px solid #0065FC;
	padding-left: 15%;
	padding-right: 15%;
}
#hébergements a{
	margin-right: 125px ;
	border-top: 1px solid #0065FC;
	padding-top: 25px;
	color: blue;
	padding-left: 15%;
	padding-right: 15%;
	
}
#activités a{
	margin-right: 125px;
	color: black;
	padding-top: 27px;
}
#inscription a {
	font-weight: bold;
	padding-top: 27px;
	color: #0065FC;

}
/* FIN DE HEADER*/


/* SECTION AVEC HEADER*/

/* HEADER*/
#section_one{
	display: flex;
	flex-direction: column;
	margin-left: 2%;
}
#section_one header{
	display: flex;
	flex-direction: column;
	margin: 0%; 
}
#section_one h1, p{
	margin: 0px;
	margin-bottom: 10px;
}
#section_one i{
	background-color: #DEEBFF;
	text-align: center;
	border-radius: 45%;
	width: 30px;
	padding: 1.5%;
}

/* RECHERCHE*/
#rechercher{	
	display: flex;
	width: 35%;
	height: 50px;
	font-size: 1.1em;
	margin-bottom: 1.5%;
}
#rechercher i{
	background-color: #F2F2F2;
	color: black;
	text-align: center;
	padding-top: 15px;
	border-radius: 12px 0 0 12px;
}
#input_ville{
	border: 1px solid #F2F2F2;
	font-size: 1.1em;
	font-weight: bolder;
	width: 225px;
	padding-left: 2%;
}
#bouton{
	background-color: #0065FC;
	color: white;
	text-align: center;
	font-size: 1.1em;
	border-radius: 0 15px 15px 0;
	width: 150px;
}
.btnMobile{
	display: none;
}

/* FILTRES*/
.filtres{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 1.5%;
	font-size: 1.1em;
}
.filtres strong{
	padding-top: 1%;
	font-size: 1.1em;

}
.filtres i{
	color:  #0065FC;
	background-color: #DEEBFF;
}
.filtres i:hover{
	color: green;
}
.filtres span{
	padding-left: 5%;
	font-weight: 600 ;
}
.filtres_duo{
	display: flex;
}
#form_economie{
	border: 1px solid #F2F2F2;
	margin-left: 4%;
	border-radius: 25px;
	width: 230px;
	font-size: 1.1em;
}
#form_economie i{
	padding: 16px;
	width: auto;
	font-size: 0.9em;
}
#form_family{
	border: 1px solid #F2F2F2;
	margin-left: 5%;
	border-radius: 25px;
	width: 170px;
	font-size: 1.1em;
}
#form_family i{
	padding: 16px;
	width: 14.5%;

}
#form_romantic{
	border: 1px solid #F2F2F2;
	margin-left: 2%;
	border-radius: 25px;
	width: 190px;
	font-size: 1.1em;
}
#form_romantic i{
	padding: 16px;
	width: auto;
}
#form_romantic i:hover{
	color: red;
}
#form_animals{
	border: 1px solid #F2F2F2;
	margin-left: 2%;
	border-radius: 25px;
	width: 255px;
	font-size: 1.1em;
}
#form_animals i{
	padding: 16px;
	width: auto;	
}
/* FIN DU FILTRE*/


/*ICONE INFO*/
#icon_info{
	margin-bottom: 2%;
}
#icon_info i{
	color: #0065FC;
	border: 1px solid #F2F2F2;
	background-color: white;
	width: 1%;
	padding: 0.2%;  
	text-align: center;
	font-size: 12px;
	margin-right: 0.5%;
}

/* FIN SECTION HEADER*/




/*DEBUT DE SECTION 1 HEBERGEMENTS A MARSEILLE*/
#section_hébergements{	
	display: flex;
	justify-content: space-between;
	margin-bottom:5%;
	margin-left: 2%;
	width: auto;
}
#section_hébergements h1{
	font-size: 1.5em;
	margin-left: 3%;
	margin-top: 5%;
}
#font_hébergements{
	background-color: #F2F2F2;
	border-radius: 25px;
	width: 65%;
}
#font_hébergements figure{
	width: 85%;
	margin: auto;
}
#afficher_plus{
	font-size: 1.2em;
	padding-top: 3%;
	padding-left: 3%;
	list-style-type: none;
}
#afficher_plus a:hover{
	font-size: 1.7em;
}
#bloc figure{
	background-color: white;
	border-radius: 25px;
	border: 3px solid white;
	margin:  2%;
}
#bloc img{
	border-radius: 25px 25px 0 0;
	border: 3px solid white;
	width: 97.5%;
}
#bloc p{
	padding-left: 5%;
}
#bloc strong{
	margin: auto;
	font-size: 1.2em;
	font-weight: bold;
}
.étoile_bleu{
	color: #0065FC;
}
.étoile_gris{
	color: rgb(225 225 225);
}
/*BLOC FIGURE 1 ET 2*/

.bloc_figure1{
	display: flex;

}

.bloc_figure2{
	display: flex;
}
/*FIN SECTION 1 HEBERGEMENTS A MARSEILLE*/





/* ASIDE*/

aside{
	background-color: #F2F2F2;
	border-radius: 25px;
	display: flex;
	flex-direction: column;
	width: 35%;
	margin-left: 2%;
	margin-right: 2% 
}
aside h2{
	display: flex;
	justify-content: space-between;
	width: 83%;
	padding-top: 5%;
	padding-left: 6%;
	font-size: 1.5em;
	margin-left: 3%;
}
aside figure{
	display: flex;
	background-color: white;
	border: 3px solid white;
	border-radius: 15px;
	width: auto;
}
#figure_dubas{
	margin-bottom: 10%;
}
aside img{
	width: 40%;
	border: 3px solid white;
	border-radius: 15px 0 0 15px;
}
aside figcaption{
	width: 100%;
}
aside strong{
	font-size: 1.2em;
}
aside p{
	padding-left: 15px;
	margin: 2.5%;
} 
.étoiles{
	margin-top: 20%;
}
/* FIN ASIDE*/





/* ACTIVITE A MARSEILLE*/

#section_activité{
	margin-top: 15px;
	border-radius: 15px;
	width: auto;
}
#section_activité h1{
	margin-left: 2%;
	width: auto;
}
#thèmes_marseille{
	display: flex;
	justify-content: space-between;
	width: auto;
	margin-left:1%;
	margin-right:1%; 
}
#thèmes_marseille div{
	margin: 1%;
	border-radius: 15px;
}
#thèmes_marseille figure{
	margin: auto;
	box-shadow: 0 3px  #F2F2F2;
	border-radius: 0 0 25px 25px;
}
#thèmes_marseille figcaption{
	padding: 5%;
	font-size: 1.2em;
}
#thèmes_marseille img{
	border-radius: 25px 25px 0 0;
}
.img_mobile{
	display: none;
}
#vieux_port {
	width: 100%;
	height: auto;
}
#vieux_port img{
	width: 100%;
	height: 430px;
}
.figure_paire{
	width: auto;
	height: auto;
}
#figure_fort img{
	width: 100%; 
}
#figure_île{
	padding-top: 22%;
}
#figure_île img{
	width: 100%;
	height: 127px;
}
#figure_parc{
	width: 22%;
	height: auto;
}
#figure_parc img{
	width: 100%;
	height: 430px;
}
#notre_dame{
	width: auto;
	height: 45%;
}
#notre_dame img{
	width: 100%;
}
#longchamp{
	width: auto;
	padding-top: 50px ;	
}
#longchamp img{
	width: 100%;
	height: 155px;
}
/* FIN ACTIVITE A MARSEILLE*/




/* FOOTER*/
#blocs{
	display: flex;
	background-color: #F2F2F2;
	width: auto;
	margin-top: 50px;
	height: 200px;
}
#blocs div{
	font-size: 1.1em;
	width: 45%;
	
	margin-top: 2.2%;
}
#blocs p{
	padding-left: 5%;
	font-size: 1.2em;
}
#blocs li{
	padding-bottom: 5px;
}
#propos{
	padding-left: 4%;
	width: 270px;
	list-style-type: none;
}
#nos_hébergements{
	list-style-type: none;
	width: 200px;
	padding-left: 4%;
}
#assistance{	
	padding-left: 4%;
	width: 155px;
	list-style-type: none;
}
#blocs li{
	margin: 2%;
}
/* FIN FOOTER*/



/* DEBUT DU RESPONSIVE*/

@media (min-width: 769px) and (max-width: 1440px){
	#conteneur{
		width: 90%;
	}
	#hébergements a{
		margin-right: 150px;
	}
	#rechercher{
		height: auto;
		width: 50%;
	}
	#rechercher i{
		padding: 2%;
	}
	.filtres{
		flex-wrap: wrap;
		height: auto;
		font-size: 1.2em;
	}
	.filtres strong{
		padding-top: 15px;
	}
	#form_economie i{
		padding: 11px;
	}
	#form_family i{
		padding: 11px;
	}
	#form_romantic i{
		padding: 11px;
	}
	#form_animals i{
		padding: 11px;
	}
	#font_hébergements{
		width: 80%;
	}
	#section_hébergements{
		font-size: 0.79em;
	}
	aside{
		width: 35%;
	}
	aside figure{
		margin: 5%;
	}
	.filtres span{
		font-size: 0.8em;
	}
}